@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 3rem;
    font-family: var(--font-family-1);
}
:root{
    --brown : #4b1204;
    --yellow-color:#ffa10a;
    --text-color:#121212;
    --container-color:#efe8e0;
    --red:#204e5e;
    --bg-color:#fff;
    --font-family-1: "Mitr" , sans-serif;
    --font-family-2: "Righteous", sans-serif;
}

*::selection{
    background-color: var(--red);
    color: var(--light-bg);
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--red);
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

section{
    padding: 3rem 0 2rem;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-weight: 12px;
}

.btn,
.delete-btn,
.option-btn{
    display: inline-block;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--container-color);
    cursor: pointer;
    padding: 1rem 3rem;
    text-transform: capitalize;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn{
    background-color: var(--yellow-color);
}

.delete-btn{
    background-color: var(--red);
}

.option-btn{
    background-color: var(--brown);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
    background-color: var(--text-color);
}

.form-container form{
    padding: 2rem;
    border-radius: .5rem;
    border: var(--container-color);
    box-shadow: var(--box-shadow);
    width: 50rem;
    text-align: center;
}

.form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.form-container form .box{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--text-color);
    border: var(--border);
    background-color: var(--light-bg);
    margin: 1rem 0;
    border-radius: .5rem;
}

.form-container form p{
    margin-top: 1.5rem;
    font-size: 2rem;
    color: var(--light-bg);
}

.form-container form p a{
    color: var(--red);
}

.form-container form p a:hover{
    text-decoration: underline;
}


.container{
    max-width: 1400px;
    margin: auto;
    width: 100%;
    padding: 2rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--red);
    border-bottom: 1px solid rgb( 255 255 255 /10%);
    z-index: 100;

}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.logo img{
    width: 75px;
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link{
    font-size: 0.88rem;
    color: var(--bg-color);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover{
    color: var(--text-color);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-icons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav-icons .bx{
    color: var(--bg-color);
    font-size: 20px;
}

.cart{
    position: relative;
}

.cart span{
    position: absolute;
    right: -10px;
    top: -10px;
    background: var(--text-color);
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 23px;
    transition: 0.3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

.home{
    min-height: 650px;
    background: var(--red);
    position: relative;
    padding: 7rem 0 2rem;
}

.home-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    color: var(--bg-color);
}

.home-text{
    z-index: 4;
}

.home-text h1{
    font-family: var(--font-family-2);
    font-size: 6.2rem;
    line-height: 6.8rem;
    font-weight: 800;
}

.home-text p{
    font-size: 1.02rem;
    margin: 2rem 0 1rem;
}

.home-text h3{
    font-size: 2.7rem;
    line-height: 2.7rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.btn{
    max-width: 160px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: var(--yellow-color);
    color: var(--bg-color);
    cursor: pointer;
}

.btn:hover{
    background: var(--text-color);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.home-img{
    max-width: 540px;
    width: 100%;
    z-index: 4;
}

.home-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff; /* Change this to your desired text color */
    background-color: #1A1A40; /* Dark blue background color */
}

ul li a:hover {
    background-color: #D4AF37; /* Gold color when hovered */
}

ul li ul.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1A1A40; /* Dark blue background for the dropdown */
    min-width: 160px; /* Minimum width for the dropdown */
    z-index: 1000;
    padding: 0;
    margin: 0;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff; /* Text color for the dropdown items */
    background-color: #1A1A40; /* Dark blue background for the dropdown items */
}

ul li ul.dropdown li a:hover {
    background-color: #D4AF37; /* Gold color for dropdown items when hovered */
}

ul li:hover ul.dropdown {
    display: block; /* Show the dropdown when hovering over the parent item */
}



.features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto,310px));
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 0;
    border-bottom: 1px solid rgb(18 18 18 / 20%);
}

.feature-box{
    display: flex;
    align-items: center;
    gap: 8px;
}

.feature-img{
    width: 50px;
}

.feature-text h3{
    font-size: 1.4rem;
    font-weight: 500;
}

.heading{
    font-size: 3.5rem;
    font-weight: 500;
    font-family: var(--font-family-2);
    text-align: center;
    margin-bottom: 2rem !important;
    background:rgb(32, 78, 94);
    color: #333;
    padding: 1rem;
}

.feature-menu-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(auto,180px));
    justify-content: space-between;
    gap: 1rem;
}

.feature-menu-box{
    text-align: center;
}

.feature-menu-box img{
    max-width: 185px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease;

}

.feature-menu-box img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.feature-menu-box h3{
font-family: var(--font-family-2);
}

.feature-menu-box p{
    color: var(--text-color);
    opacity: 0.7;
}

.items{
    background: var(--container-color);
}

.item-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}

.item-box{
    position: relative;
    background: var(--bg-color);
    padding: 24px 14px;
    border-radius: 8px;
    border: 1px solid rgb(75 18 4 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-box .scale{
    position: absolute;
    right: 14px;
    top: 14px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px;
}

.item-box img{
    max-width: 264px;
    width: 100%;
    object-position: center;
    margin-bottom: 1.2rem;
}

.item-box h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--brown);
}

.item-box .price{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1.2rem;
}

.item-box .price h3{
    color: var(--brown);
    font-weight: 500;

}

.item-box .price p{
    text-decoration: line-through;
    font-weight: 500;
    color: rgb(var(--brown),0.8rem);
}

.item-btn{
    background: var(--yellow-color);
    color: var(--brown);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 8px;
}

.item-btn:hover{
    background: var(--brown);
    color: var(--bg-color);
    transition: background 0.4s ease-in-out;
}

.menu-container{
    background: var(--text-color);
    color: var(--bg-color);
    position: relative;
    padding: 4rem 0;
}

.menu-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr,);
    gap: 1rem;
}

.menu-box{
    z-index: 4;
}

.menu-box h2{
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--yellow-color);
    font-family: var(--font-family-2);
    margin-bottom: 1.8rem; 
}

.m-item-box{
    display: grid;
    grid-template-columns: 82px 1fr;
    align-items: center;
    gap: 10px;
    border-top: 1px dashed #ffffff7c;
    cursor: pointer;
    padding: 10px;
}

.m-item-box:hover{
    background: var(--yellow-color);
    transition: background 0.3s ease-in-out;
}
.burgers-content:last-child,
.bbq-content:last-child{
    border-bottom: 1px dashed #ffffff7c;
}

.m-item-box img{
    max-width: 82px;
    border-radius: 10px;
}

.m-item-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-item-des{
    padding: 0 16px 0 8px;
}

.m-item-des h3{
    font-size: 1.075rem;
    font-weight: 500;
}

.m-item-des p{
    font-size: 0.94rem;
    color: rgb( 255 255 255 /70%);
    margin-top: 4px;
}

.m-item-price{
    padding-left: 15px;
    border-left: 1px dashed #ffffff7c;
}

.m-item-price h3{
    font-size: 1.075rem;
    font-weight: 500;
}

.m-item-price p{
    font-weight: 400;
    color: rgb(255 255 255 / 70%);
    text-decoration: line-through;
    margin: 7px;
}

.admin-product-form-container form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    background: var(--bg-color);

}

.admin-product-form-container form h3{
    text-transform: uppercase;
    color: var(--red);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
}

.admin-product-form-container form .box{
    width: 100%;
    border-radius: .5rem;
    padding: 1.2rem 1.5rem;
    font-size: 1.7rem;
    margin: 1rem 0;
    background: var(--container-color);
}

.banner{
    background: var(--brown);
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 1;
}

.banner::before{
    position: absolute;
    content: '';
    bottom: -18%;
    right: 0;
    background-image: url(img/menu-mask.png);
    width: 316px;
    height: 245px;
    background-size: 316px;
}

.banner .detail{
    position: absolute;
    padding: 7rem 0;
    left: 35%;  
    text-align: center;
    z-index: 200;
}

.banner .detail h1{
    font-size: 4rem;
    color: #fff;
    text-transform: capitalize;
}

.banner .detail p{
    font-size: 18px;
    line-height: 2;
}

.banner .detail a{
    text-transform: uppercase;
    color: #000;
}

.banner .detail span{
    color: #fff;
}


header .scrolled{
    background: #fff;
    box-shadow: 0 5px 20px 0.1px rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
}

header .scrolled a:hover{
    color: var(--yellow-color);
}

.flex{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.navbar a{
    margin: 0 1rem;
    font-size: 1rem; 
    color: #000;
    text-transform: uppercase;
}

.navbar a:hover,
header .icons i:hover{
    color: #fff;
    text-decoration: none;
}

.header .icons{
    display: flex;
}

.header .icons i{
    margin-left: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}
#menubtn{
    display: none;
}
.header .user-box{
    position: absolute;
    top: 120%;
    right: 0rem;
    background: rgb(255 255 255 /80%);
    box-shadow: var(--container-color);
    border-radius: .5rem;
    padding: 1rem;  
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 2;
}

.logout-btn{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    border-radius: 4px;
}

.header.user-box .active{
    transform: scale(1.0);
    transition: .2s linear;
}

.heading span{
    color: var(--brown);
}


.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{    
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 6rem;
    columns: #eee;
}   

.review .box-container .box .star i{
    color: var(--yellow-color);
    font-size: 2rem;
}

.review .box-container .box .star p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}


.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color: #999;
}


.footer{
    background-color: var(--white);
 }
 
 .footer .box-container{
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
 }
 
 .footer .box-container a,
 .footer .box-container p{
    font-size: 1rem;
    color:var(--light-color);
    padding:1rem 0;
    display: block;
 }
 
 .footer .box-container a i,
 .footer .box-container p i{
    color:var(--red);
    padding-right: 1rem;
 }
 
 .footer .box-container a:hover{
    text-decoration: underline;
    color:var(--red);
 }
 
 .footer .credit{
    text-align: center;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    border-top: var(--border);
    font-size: 2rem;
    color:var(--container-color);
 }
 
 .footer .credit span{
    color:var(--red);
 }

 .about .flex{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
 }
 
 .about .flex .image{
    flex:1 1 40rem;
 }
 
 .about .flex .image img{
    width: 100%;
 }
 
 .about .flex .content{
    flex:1 1 40rem;
    text-align: center;
 }
 
 .about .flex .content h3{
    font-size: 3rem;
    text-transform: capitalize;
    color:var(--black);
 }
 
 .about .flex .content p{
    padding:1rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
    line-height: 2;
 }
 
 .about .flex:nth-child(2){
    margin:3rem auto;
    flex-wrap: wrap-reverse;
 }
 

















@media (max-width:991px){
    html{
        font-size: 55%;
    }

    #menu-btn{
        display: block; 
    }

    .header .flex .navbar{
        position: absolute;
        top: 149%;
        left: 0;
        display: block;
        right: 0;
        border-top: 1px solid #000;
        background: #fff;
        transition: .3s ease;   
    }
    .header .flex .navbar .active{
        clip-path: polygon(0 0 ,100% 100%,0 100%);
    }

    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }

    .heading{
        font-size: 3rem;
    }

}
